/*
    Asignment Name: Bootstrap B and B
    Author: Jessica Hite
    Date: 11/17/2023

    Filename:styles.css
*/

.custom {
    width: 75%;
}

.hpcust {
    background-color: rgba(213, 249, 236, 0.59);
    border-radius: 20% ;
}